HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

application-secret.yml

.terraform
# Terraform 상태 파일
*.tfstate
*.tfstate.*

# Terraform 변수 파일
*.tfvars
*.tfvars.json

# 로컬 Terraform 디렉토리
**/.terraform/*

# 충돌 로그 파일
crash.log
crash.*.log

# Terraform 재정의 파일
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI 설정 파일
.terraformrc
terraform.rc

#
.terraform.lock.hcl
**/.terraform.lock.hcl/*
variables_secret.tf