#services:
#  elasticsearch:
#    image: docker.elastic.co/elasticsearch/elasticsearch:8.3.3
#    container_name: smore_elasticsearch
#    environment:
#      - discovery.type=single-node
#      - xpack.security.enabled=false
#      - ES_JAVA_OPTS=-Xms512m -Xmx512m
#    command: >
#      bash -c '
#        bin/elasticsearch-plugin install analysis-nori;
#        /usr/local/bin/docker-entrypoint.sh elasticsearch
#      '
#    ports:
#      - "9200:9200"
#    networks:
#      - elastic
#  kibana:
#    image: docker.elastic.co/kibana/kibana:8.3.3
#    container_name: smore_kibana
#    environment:
#      SERVER_NAME: kibana
#      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
#    ports:
#      - 5601:5601
#    depends_on:
#      - elasticsearch
#    networks:
#      - elastic
#  logstash:
#    image: docker.elastic.co/logstash/logstash:8.3.3
#    container_name: smore_logstash
#    environment:
#      - LS_JAVA_OPTS=-Xms512m -Xmx512m
#    volumes:
#      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
#      - ./logstash/lib/mysql-connector-j-9.2.0.jar:/usr/share/logstash/logstash-core/lib/jars/mysql-connector-j-9.2.0.jar:ro
#    ports:
#      - "5001:5001"
#      - "5044:5044"
#    depends_on:
#      - elasticsearch
#    networks:
#      - elastic
#networks:
#  elastic:
#    driver: bridge

version: '3.7'

services:
  mongodb:
    image: mongo:latest
    container_name: smore_mongodb
    restart: always
    command:
      - --auth
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: smore_chat_db
      MONGO_INITDB_ROOT_USERNAME: "root"
      MONGO_INITDB_ROOT_PASSWORD: "00001234"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local